<mat-card class="register-card">
  <mat-card-title class=""><h1>書籍登録</h1></mat-card-title>
  <form class="form-size">
    <div>
      <mat-form-field class="default-field">
        <mat-label>書籍名</mat-label>
        <input matInput name="bookName" [(ngModel)]="inputBook.name"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="default-field">
        <mat-label>あらすじ</mat-label>
        <textarea matInput name="bookDetail" [(ngModel)]="inputBook.detail"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="score-field">
        <mat-label>評価点</mat-label>
        <input matInput type="number" name="bookEvaluation" [(ngModel)]="inputBook.evaluation"/>
      </mat-form-field>
    </div>
  </form>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="addBookInfo()">追加</button>
  </mat-card-actions>
</mat-card>

<ng-container *ngIf="bookList.length > 0; then hasBooks; else noBook" >
<!--bookListに書籍が登録されていれば全ての書籍情報を表示する要素(#hasBooks)をng-containerの中に表示する。
    書籍が一冊も登録されていなければ"データがありません"と表示する要素(#noBook)をng-containerの中に表示する。-->
</ng-container>

<ng-template #hasBooks>
  <!--削除ボタンを押した時に発生するdeleteEventイベントが発生した時にdeleteBookInfo()を呼び出す。
      その際に$eventを引数に指定することでdeleteEventにemit()で渡された値(変数book)をdeleteBookInfo()メソッドに受け渡す-->
  <app-card *ngFor="let book of bookList" [bookInfo]="book" (deleteEvent)="openDialog($event)"></app-card>
</ng-template>

<ng-template #noBook>
  <div class="no-message-container">
    データがありません
  </div>
</ng-template>

<app-message></app-message>
