<mat-card class="register-card">
  <mat-card-title class=""><h1>書籍登録</h1></mat-card-title>
  <form class="form-size">
    <div>
        <mat-form-field class="default-field">
          <mat-label>書籍名</mat-label>
          <input matInput name="bookName" [(ngModel)]="addedBookInfo.name">
        </mat-form-field>
    </div>
    <div>
      <mat-form-field class="default-field">
        <mat-label>あらすじ</mat-label>
        <textarea matInput name="bookDetail" [(ngModel)]="addedBookInfo.detail"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="score-field">
        <mat-label>評価点</mat-label>
        <input matInput type="number" name="bookEvaluation" [(ngModel)]="addedBookInfo.evaluation">
      </mat-form-field>
    </div>
  </form>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="addBookInfo()">追加</button>
  </mat-card-actions>
</mat-card>

<div *ngFor="let aBook of bookList">
<!-- 削除ボタンを押した時に発生するdeleteEventイベントが発生した時にcrossOffBookInfo()を呼び出す。
その際に$eventを引数に指定することでdeleteEventにemit()で渡された値(変数book)をメソッドに受け渡す -->
<app-card [bookInfo]="aBook" (deleteEvent)="crossOffBookInfo($event)"></app-card>
</div>
